layout {
	pane split_direction="vertical" {
		pane
		pane split_direction="horizontal" {
			pane {
				command "cargo-watch"
				args "-x clippy"
			}
			pane {
				command "cargo-watch"
				args "-x run"
			}
		}
	}
}
